@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default light theme */
    --overlay: #00000059;
    --buttons: #F09372;
    --secondary: #DFDFDF;
    --highlight: #9DC300;
  }

  [data-theme='light'] {
    --buttons: #F09372;
    --overlay: #00000059;
    --secondary: #DFDFDF;
    --highlight: #9DC300;
  }

  [data-theme='dark'] {
    --buttons: #F09372;
    --overlay: #00000080;
    --secondary: #DFDFDF;
    --highlight: #FB9A36;
  }
}
