@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default light theme */
    --overlay: #00000059;
    --secondary: #f3fbff;
  }

  [data-theme='light'] {
    --overlay: #00000059;
    --secondary: #f3fbff;
  }

  [data-theme='dark'] {
    --overlay: #00000080;
    --secondary: #152a38;
  }
}
